$pink: #FF7974;
$grey: #525252;
$darkblue: #126AB3;
$lightblue: #58B4FF;
$smokywhite: #EAEAEA;
$limegreen: #C6CC33;
$darklime: #AEB336;

//bungee font
@font-face {
    font-family: "BungeeRegular";
    src: url("../fonts/bungee-regular-webfont.woff") format("woff"),
    url("../fonts/bungee-regular-webfont.ttf") format("truetype");
}
//roboto font
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/roboto-regular-webfont.ttf") format("truetype");
}


//global
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    color: $grey;
}
h1 {
    font-family: "BungeeRegular";
    font-size: 80px;
    padding: 25px;
}
a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

//nav
#navbar {
    top:0;
    position: fixed;
    width: 100%;
    height: 125px;
    overflow: hidden;
    background: white;
    font-family: "BungeeRegular";
    box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
    
    ul {
        display: grid;
        width: 100%;
        grid-template-columns: 230px 230px 180px 160px 300px;
        grid-template-rows: 125px;
        justify-content: center;
        align-items: center;
        text-align: center;

        #logo {
            width: 100%;
            max-height: 115px;
            padding: 5px;
            margin: 0 auto;
        }
        li {
            font-size: 40px;
            a:hover {
                color: $darkblue;
                text-decoration: underline;
            }
        }
    }
}
//navbar media query
@media only screen and (max-width: 1300px) {
    #navbar ul {
        grid-template-columns: 20fr 20fr 150px 13fr 27fr;
    }
}
@media only screen and (max-width: 1100px) {
    #navbar ul {
        grid-template-columns: 200px 200px 180px 130px 270px;
        grid-template-columns: 20fr 20fr 150px 13fr 27fr;
        li {
            font-size: 35px;
        }
    }
}
@media only screen and (max-width: 800px) {
    #navbar ul {
        grid-template-columns: 1fr;
        li {
            display: none;
        }
    }
}

//welcome section
#welcome-section {
    background-color: $lightblue;
    height: 100vh;
    text-align: center;

    h1 {
        display: none;
    }
    #welcomeGrid {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;

        #welcomeContainer {
            width: 100%;
            height: calc(100vh - 125px);
            display: grid;
            align-items: center;
            justify-items: center;
            padding-top: 125px;

            #welcomeText {
                width: 100%;
                height: 100%;
                padding: 20px;
                max-width: 1000px;
            }
        }
    }
}
//welcome section media quieries
@media only screen and (max-height: 800px) {
    
}


//about me
#aboutMe {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    box-sizing: border-box;

    #aboutMeText {
        padding-left: 20px;
        h1 {
            font-family: "BungeeRegular";
            font-size: 80px;
            padding: 25px;
            color: $darkblue;
        }
        p {
            font-family: "RobotoRegular";
            font-size: 40px;
            line-height: 1.5;
        }
    }
    img {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
}
//about me media queries
@media only screen and (max-width: 1150px) {
    #aboutMe {
        #aboutMeText {
            h1 {
                font-size: 60px;
            }
            p {
                font-size: 35px;
            }
        }
    }
}
@media only screen and (max-width: 940px) {
    #aboutMe {
        grid-template-columns: 1fr 1fr;
        #aboutMeText {
            h1 {
                font-size: 55px;
                text-align: center;
            }
            p {
                font-size: 30px;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width: 750px) {
    #aboutMe {
        grid-template-columns: 1fr;

        img {
            width: 50%;
            min-width: 300px;
            margin: 0 auto;
            padding-top: 50px;
        }
        #aboutMeText {
            h1 {
                font-size: 55px;
                text-align: center;
            }
            p {
                font-size: 30px;
                text-align: center;
            }
        }
    }
}

//projects
#projects {
    margin-top: 150px;

    h1 {
        color: $pink;
        padding-bottom: 50px;
    }

    #projectTiles {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    a {
        .project-tile {
            border: 1px solid $grey;
            border-radius: 26px;
            width: 384px;
            height: 384px;
            padding: 26px;
            display: grid;
            grid-template-columns: 1fr;
            align-items: end;
            box-shadow: 10px 10px #FF7974;

            .projectText {
                .projectTitle {
                    font-family: "BungeeRegular";
                    font-size: 40px;
                    line-height: 1.2;
                    padding-bottom: 10px;
                }
                .projectDesc {
                    font-family: "RobotoRegular";
                    font-size: 26px;
                    line-height: 1.33;
                }
            }
        }
    }
}
//projects media queries
@media only screen and (max-width: 1300px) {
    #projects {
        padding-left: 20px;

        h1 {
            text-align: center;
        }
        #projectTiles {
            justify-items: center;
            grid-template-columns: 385px 385px;
        }
    }
}
@media only screen and (max-width: 840px) {
    #projects {
        h1 {
            text-align: center;
        }
        #projectTiles {
            justify-items: center;
            grid-template-columns: 1fr;
        }
    }
    
}
@media only screen and (max-width: 750px) {
    #projects {
        h1 {
            font-size: 55px;
        }
    }
}


#githubLink {
    font-size: 60px;
    font-family: "BungeeRegular";
    text-align: center;
    line-height: 1.5;
    padding: 150px 0;

    #profile-link {
        color: $limegreen;
    }
    #profile-link:hover {
        color: $darklime;
        text-decoration: underline;
    }
}


footer {
    width: 100%;
    height: 140px;
    background-color: $grey;

    h3 {
        color: $smokywhite;
        font-size: 25px;
        font-family: "RobotoRegular";
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
















