$pink: #FF7974;
$grey: #525252;
$darkblue: #126AB3;
$lightblue: #58B4FF;
$smokywhite: #EAEAEA;
$limegreen: #C6CC33;
$darklime: #AEB336;
$newyellow: #BBBE32;
$purple: #5B3A80;

//bungee font
@font-face {
    font-family: "BungeeRegular";
    src: url("../fonts/bungee-regular-webfont.woff") format("woff"),
    url("../fonts/bungee-regular-webfont.ttf") format("truetype");
}
//roboto font
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/roboto-regular-webfont.ttf") format("truetype");
}
//raleway font regular 
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.ttf") format("truetype");
}
//raleway font bold 
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold.ttf") format("truetype");
}


//global
html {
    box-sizing: border-box;
}
body {
    font-family: "RalewayRegular";
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    color: $grey;
}
h1 {
    font-family: "BungeeRegular";
    font-size: 80px;
    padding: 25px;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 65px;
    }
}
a {
    text-decoration: none;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

//nav
#navbar {
    top:0;
    position: fixed;
    width: 100%;
    height: 110px;
    overflow: hidden;
    background: white;
    font-family: "BungeeRegular";
    box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
    
    ul {
        display: grid;
        width: 100%;
        grid-template-rows: 110px;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;

        #logo {
            width: 100%;
            max-height: 100px;
            padding: 10px;
        }
        li {
            font-size: 40px;
            a:hover {
                color: $darkblue;
                text-decoration: underline;
            }
        }
    }
}
//navbar media query
@media only screen and (max-width: 1300px) {
    /*
    #navbar ul {
        grid-template-columns: 20fr 20fr 150px 13fr 27fr;
    }
    */
}
@media only screen and (max-width: 1100px) {
    /*
    #navbar ul {
        grid-template-columns: 200px 200px 180px 130px 270px;
        grid-template-columns: 20fr 20fr 150px 13fr 27fr;
        li {
            font-size: 35px;
        }
    }
    */
}
@media only screen and (max-width: 800px) {
    #navbar ul {
        grid-template-columns: 1fr;
        li {
            display: none;
        }
    }
}

//canvas
.canvasDiv {
    position:absolute;
    z-index: -99999;
    background-color: $lightblue;
    width: 100%;
    height: calc(100% - 110px);
    top: 110px;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

//welcome section
#welcome-section {
    height: 100vh;
    text-align: center;

    #welcomeGrid {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;

        #welcomeContainer {
            width: 100%;
            height: calc(100vh - 110px);
            display: grid;
            align-items: center;
            justify-items: center;
            padding-top: 110px;

            #welcomeText {
                width: 100%;
                height: 100%;
                padding: 20px;
                max-width: 1000px;
            }
        }
    }
}
//welcome section media quieries
@media only screen and (max-height: 800px) {
    
}


//about me
#aboutMe {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    box-sizing: border-box;

    #aboutMeText {
        padding-left: 20px;
        h1 {
            font-family: "BungeeRegular";
            font-size: 50px;
            padding: 25px;
            padding-left: 0;
            color: $darkblue;
        }
        h2 {
            font-size: 30px;
            padding: 15px;
            padding-left: 0;
            font-family: "RalewayBold";
        }
        p {
            font-family: "RalewayRegular";
            font-size: 26px;
            line-height: 1.5;
            padding-right: 70px;
        }

        #aboutEducation {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .educationContainer {
                h2 {
                    padding-bottom: 0;
                }
                p {
                    font-size: 20px;
                    padding: 10px;
                    padding-left: 0;
                }
            }
        }
    }
    img {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
}
//about me media queries
@media only screen and (max-width: 1150px) {
    #aboutMe {
        #aboutMeText {
            h1 {
                font-size: 60px;
            }
            p {
                font-size: 35px;
            }
        }
    }
}
@media only screen and (max-width: 940px) {
    #aboutMe {
        grid-template-columns: 1fr 1fr;
        #aboutMeText {
            h1 {
                font-size: 55px;
                text-align: center;
            }
            p {
                font-size: 30px;
                text-align: center;
            }
        }
        #aboutEducation {
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and (max-width: 750px) {
    #aboutMe {
        grid-template-columns: 1fr;

        img {
            width: 50%;
            min-width: 300px;
            margin: 0 auto;
            padding-top: 50px;
        }
        #aboutMeText {
            h1 {
                font-size: 55px;
                text-align: center;
            }
            p {
                font-size: 30px;
                text-align: center;
            }
        }
    }
}

//skills
#skills {
    margin-top: 100px;
    text-align: center;
    h1 {
        color: $newyellow;
    }

    .skillSec {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px 0;
        h2 {
            font-size: 50px;
            font-family: "BungeeRegular";
            padding: 10px;
            padding-left: 0;
        }
        h3 {
            font-size: 50px;
            word-spacing: 30px;
            line-height: 1.4;
            span {
                word-spacing: 5px;
            }
        }
    }
}

//projects
#projects {
    margin-top: 150px;
    width: 100%;

    h1 {
        color: $pink;
        padding-bottom: 50px;
    }

    #projectTiles {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        //grid-gap: 24px;
        //grid-template-columns: 1fr 1fr 1fr;
    }
    a { 
        .project-tile {
            border: 1px solid $grey;
            border-radius: 26px;
            width: 384px;
            height: 384px;
            padding: 26px;
            display: grid;
            grid-template-columns: 1fr;
            align-items: end;
            box-shadow: 10px 10px $pink;
            margin: 12px;
            animation-name: projectOut;
            animation-duration: 0.5s;

            .projectText {
                .projectTitle {
                    font-family: "BungeeRegular";
                    font-size: 40px;
                    line-height: 1.2;
                    padding-bottom: 10px;
                }
                .projectDesc {
                    font-family: "RalewayRegular";
                    font-size: 26px;
                    line-height: 1.33;
                }
            }
        }
        .project-tile:hover {
            animation-name: projectHover;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes projectHover {
    from { margin: 12px; box-shadow: 10px 10px $pink; }
    to { margin: 22px 0 0 24px; box-shadow: 0px 0px white; }
}
@keyframes projectOut {
    from { margin: 22px 0 0 24px; box-shadow: 0px 0px white; }
    to { margin: 12px; box-shadow: 10px 10px $pink; }
}

//projects media queries
@media only screen and (max-width: 1300px) {
    #projects {
        padding-right: 20px;

        h1 {
            text-align: center;
        }
        #projectTiles {
            justify-items: center;
            .project-tile {
                width: 450px;
                height: 350px;
            }
        }
    }
}
@media only screen and (max-width: 980px) {
    #projects {
        #projectTiles {
            .project-tile {
                width: 350px;
                height: 400px;
            }
        }
    }
}
@media only screen and (max-width: 778px) {
    #projects {
        #projectTiles {
            .project-tile {
                width: 450px;
                height: 300px;
            }
        }
    }
}
@media only screen and (max-width: 518px) {
    #projects {
        #projectTiles {
            .project-tile {
                width: 350px;
                height: 440px;
            }
        }
    }
}
@media only screen and (max-width: 422px) {
    #projects {
        h1 {
            font-size: 50px;
        }
        #projectTiles {
            .project-tile {
                width: 320px;
                height: 440px;
            }
        }
    }
}


//contact
#contact {
    margin: 100px 0;
    h1 {
        color: $purple;
    }
    .contactGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin: 20px;

        .contactWay {
            svg {
                max-width: 100px;
                fill: $purple;
                display: inline-block;
            }
            h2 {
                font-size: 40px;
                position: relative;
                display: inline-block;
                top: -29px;
                left: 10px;
            }
            a:hover {
                color: $darkblue;
                text-decoration: underline;
            }
        }
    }
}
@media only screen and (max-width: 1140px) {
    #contact {
        max-width: 600px;
        margin: 100px auto;
        h1 {
            text-align: center;
        }
        .contactGrid {
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and (max-width: 600px) {
    #contact {
        max-width: 500px;
        .contactGrid {
            .contactWay {
                svg {
                    max-width: 80px;
                }
                h2 {
                    font-size: 30px;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    #contact {
        max-width: 400px;
        h1 {
            font-size: 40px;
        }
        .contactGrid {
            .contactWay {
                svg {
                    max-width: 33px;
                }
                h2 {
                    font-size: 18px;
                    top: -13px;
                }
            }
        }
    }
}


footer {
    width: 100%;
    height: 140px;
    background-color: $grey;

    h3 {
        color: $smokywhite;
        font-size: 25px;
        font-family: "RalewayRegular";
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
















