/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #aadefd; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto; }

header {
  text-align: center;
  position: relative;
  border-bottom: 20px solid #03588C;
  margin-bottom: 20px;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.2);
  background-color: white; }
  header .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    position: relative; }
    header .wrapper img {
      width: 100%;
      padding: 20px 30px;
      padding-bottom: 0; }
    header .wrapper h1 {
      padding: 10px;
      padding-top: 15px;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      right: 0;
      bottom: 0;
      color: #03588C; }

.app {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center; }
  .app .loading {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 200px; }
    .app .loading h2 {
      font-size: 50px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 20px;
      border: 3px solid #03588C;
      border-radius: 10px;
      background-color: white;
      color: #03588C;
      box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3); }

.scene {
  width: 300px;
  height: 250px;
  perspective: 600px;
  margin: 10px; }

.card {
  width: 300px;
  height: 250px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative; }

.card.is-flipped {
  transform: rotateY(180deg); }

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden; }
  .card__face h1 {
    font-size: 30px;
    font-weight: 900;
    padding: 5px;
    text-transform: uppercase;
    color: #03588C; }
  .card__face h2 {
    font-size: 20px;
    padding: 5px; }
  .card__face p {
    font-size: 18px;
    padding: 5px; }
  .card__face .iframe {
    padding-top: 10px; }
  .card__face h3 {
    font-size: 12px;
    padding: 5px; }
  .card__face iframe {
    width: 100%;
    height: 200px;
    background-color: black; }

.card__face--front {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.2); }

.card__face--back {
  transform: rotateY(180deg);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3); }
  .card__face--back h1 {
    padding: 0;
    padding-top: 9px; }

@media only screen and (min-width: 30rem) {
  header {
    text-align: center;
    position: relative;
    border-bottom: 20px solid #03588C;
    margin-bottom: 20px; }
    header .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      position: relative; }
      header .wrapper img {
        width: 100%;
        padding: 20px 60px;
        padding-bottom: 10px; }
      header .wrapper h1 {
        padding: 10px;
        padding-top: 15px;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        right: 0;
        bottom: 0;
        color: #03588C; } }
@media only screen and (min-width: 62.5rem) {
  header {
    text-align: right;
    position: relative;
    background-color: white;
    border-bottom: 20px solid #03588C;
    margin-bottom: 20px; }
    header .wrapper {
      display: grid;
      grid-template-columns: 60% 40%;
      position: relative; }
      header .wrapper img {
        width: 100%;
        padding: 20px; }
      header .wrapper h1 {
        padding: 10px;
        padding-top: 15px;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        right: 0;
        bottom: 0;
        color: #03588C; } }

/*# sourceMappingURL=styles.css.map */
