* { 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-image: url("assets/background.jpg");
    color: #0D0D0D;
}

/* star wars font */
@font-face {
    font-family: "StarWars";
    src: url("fonts/starwarsFont.TTF") format("truetype"),
    url("fonts/starwarsFont.woff") format("woff");
}
/* roboto fonts */
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto-regular-webfont.ttf") format("truetype"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "RobotoItalic";
    src: url("fonts/Roboto-RegularItalic.ttf") format("truetype"),
    url("fonts/roboto-regularitalic-webfont.woff") format("woff");
}
@font-face {
    font-family: "RobotoBold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype"),
    url("fonts/roboto-bold-webfont.woff") format("woff");
}

/* navigation */
form {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    background: rgba(255, 254, 174, 0.93);
    flex-wrap: wrap;
    border-radius: 0 0 15px 15px;
}
form div {
    padding: 5px;
    width: 16.66%;
}
.mainSearchDiv {
    width: 100%;
}
.searchBar {
    display: block;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 0;

}
.searchDiv {
    width: 100%;
}
#mainSearch {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}
#searchTitle {
    padding: 5px;
    display: block;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    font-family: "StarWars", Arial, Helvetica, sans-serif;
    text-align: center;
}
label {
    font-weight: bold;
    font-family: "RobotoBold";
}
#submitButton {
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

.fromTo {
    width: 50px;
}


/* content that js outputs */
.content {
    max-width: 1200px;
    padding: 10px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.infoCard {
    background: rgba(244,233,78, 0.93);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px #736E25;
}

.planetHeader {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 15px;
    font-family: "StarWars";
    text-align: center;
}
.planetText {
    line-height: 1.1;
}


@media only screen and (max-width: 900px) {
    form {
        border-radius: 0;
    }
    form div {
        width: 33.33%;
    }
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 620px) {
    #searchTitle {
        font-size: 30px;
    }
    form div {
        width: 50%;
    }
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 400px) {
    #searchTitle {
        font-size: 25px;
    }
    form div {
        width: 100%;
    }
    .content {
        grid-template-columns: 1fr;
    }
}