//contact
#contact {
    margin: 100px 0;
    h1 {
        color: $purple;
    }
    .contactGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 110px;
        grid-gap: 30px;
        margin: 20px;

        .contactWay {
            height: 100%;
            svg {
                max-width: 80px;
                max-height: 80px;
                fill: $purple;
                display: inline-block;
            }
            h2 {
                position: relative;
                display: inline-block;
                top: -25px;
                left: 10px;
                z-index: 34534534;
                font-size: 40px;

                .contactLink:hover {
                    color: $purple;
                    text-decoration: underline;
                }
            }
        }
    }
}
@media only screen and (max-width: 1140px) {
    #contact {
        max-width: 600px;
        margin: 100px auto;
        h1 {
            text-align: center;
        }
        .contactGrid {
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and (max-width: 600px) {
    #contact {
        max-width: 500px;
        .contactGrid {
            grid-auto-rows: 85px;

            .contactWay {
                svg {
                    max-width: 80px;
                }
                h2 {
                    font-size: 30px;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    #contact {
        max-width: 400px;
        h1 {
            font-size: 40px;
        }
        .contactGrid {
            grid-auto-rows: 40px;

            .contactWay {
                svg {
                    max-width: 35px;
                    max-height: 35px;
                }
                h2 {
                    font-size: 22px;
                    top: -9.5px;
                    a {
                        font-size: 22px;
                        top: -9.5px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 325px) {
    #contact {
        .contactGrid {
            .contactWay {
                svg {
                    max-width: 35px;
                }
                h2 {
                    font-size: 18px;
                    top: -9.5px;
                }
            }
        }
    }
}